@font-face {
	font-family: 'Futura-Std';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/FuturaStdBook_19044.eot') format('eot');
  src: url('./fonts/FuturaStdBook_19044.eot?#iefix') format('embedded-opentype'),
       url('./fonts/FuturaStdBook_19044.woff') format('woff'),
       url('./fonts/FuturaStdBook_19044.ttf') format('truetype');
}


#weddingListBar {
	background-color: #81afc6;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: translateY(0px);
	transition: transform .25s ease-in-out;
	&.close {
		transform: translateY(70px);
		.weddingListBar {
			&__closeBar {
				i {
					&:after {
						left: 2px;
					}
					&:before {
						left: -6px;
					}
				}
			}
		}
	}
	img {
		width: 100%;
	}
	.weddingListBar {
		&-center {
			width: 100%;
			max-width: 1140px;
    	margin: 0px auto;
			display: flex;
			padding: 10px 0;
			align-items: center;
			justify-content: space-between;
			position: relative;
		}
		&__details {
			width: 100%;
			height: 430px;
			position: absolute;
			z-index: 1;
			bottom: 70px;
			left: 0;
			background-color: #e5e5e5;
			display: none;
			&.active {
				display: inline-block;
			}
			.weddingListBar {
				&-center {
					max-width: 1214px;
					flex-wrap: wrap;
				}
			}
			&-header {
				width: 100%;
				display: flex;
				align-item: center;
				justify-content: space-between;
				padding: 20px 0;
				margin: 0 34px;
				border-bottom: 1px solid #cccccc;
				h2 {
					text-transform: uppercase;
					font-family: 'Futura-Bold';
  				font-size: 18px;
  				font-weight: bold;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.44;
  				letter-spacing: normal;
  				text-align: left;
  				color: #2a7bbf;
				}
			}
			&-nav {
				display: flex;
				align-item: center;
				justify-content: space-between;
				&-clear {
					margin-right: 19px;
					border: 0;
					background-color: transparent;
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: Arial;
  				font-size: 12px;
  				font-weight: normal;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.17;
  				letter-spacing: normal;
  				text-align: left;
  				color: #666666;
					cursor: pointer;
					outline: 0px solid transparent;
					i {
						width: 12px;
						height: 16px;
						display: flex;
						margin-right: 4px;
						svg {
							width: 100%;
							path {
								fill: #666;
							}
						}
					}
				}
				&-close {
					position: relative;
					border: 0;
					background-color: transparent;
					cursor: pointer;
					outline: 0px solid transparent;
					&:after {
						content: "";
						width: 12px;
						height: 12px;
						position: absolute;
						top: 0;
						left: 0;
						border: 3px solid #002c50;
						border-left: 0;
						border-bottom: 0;
						transform: rotate(135deg);
					}
				}
			}
			&-body {
				width: 100%;
				display: inline-block;
				overflow: auto;
    		height: 333px;
				position: relative;
				ul {
					padding: 0 34px;
				}
				li {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 20px 0;
					border-bottom: 1px solid #cccccc;
					&:last-child {
						border-bottom: 0px;
					}
				}
				.mCustomScrollBox {
    			position: relative;
    			overflow: hidden;
    			height: 100%;
    			max-width: 100%;
    			outline: none;
    			direction: ltr;
				}
				.mCSB_scrollTools {
    			position: absolute;
    			width: 16px;
    			height: auto;
    			left: auto;
    			top: 0;
    			right: -3px;
    			bottom: 0;
					.mCSB_draggerContainer {
    				position: absolute;
    				top: 0;
    				left: 0;
    				bottom: 0;
    				right: 0;
    				height: auto;
					}
					.mCSB_dragger {
    				cursor: pointer;
   	 				width: 100%;
    				height: 30px;
    				z-index: 1;
						.mCSB_dragger_bar {
							background-color: #78828b;
							position: relative;
    					width: 10px;
    					height: 100%;
    					margin: 0 auto;
    					border-radius: 16px;
    					text-align: center;
						}
					}
					.mCSB_draggerRail {
						background-color: #c9c8c8;
						width: 10px;
    				height: 100%;
   	 				margin: 0 auto;
    				border-radius: 16px;
					}
				}
			}
			&-product {
				figure {
					width: 50px;
					margin: 0 14px 0 0;
					padding: 0;
					float: left;
					img {
						width: 100%;
					}
				}
			}
			&-info {
				float: left;
				.title {
					font-family: Arial;
  				font-size: 14px;
  				font-weight: normal;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.14;
  				letter-spacing: normal;
  				text-align: left;
  				color: #666666;
				}
				.value {
					margin: 5px 0 3px;
					font-family: 'Futura-Bold';
  				font-size: 14px;
  				font-weight: bold;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.21;
  				letter-spacing: normal;
  				text-align: left;
  				color: #2a7bbf;
				}
				.installment {
					font-family: Arial;
  				font-size: 12px;
  				font-weight: normal;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.17;
  				letter-spacing: normal;
  				text-align: left;
  				color: #666666;
				}
			}
			&-remove {
				button {
					border: 0;
					background-color: transparent;
					font-family: Arial;
  				font-size: 12px;
  				font-weight: normal;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.17;
  				letter-spacing: normal;
  				color: #2a7bbf;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		&__closeBar {
			width: 30px;
  		height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
  		background-color: #6d98ae;
			border-radius: 5px 5px 0 0;
			position: absolute;
			top: -20px;
			right: 0;
			cursor: pointer;
			i{
				width: 9px;
				height: 9px;
				position: relative;
				&:after,
				&:before {
					content: "";
					width: 13px;
					height: 3px;
					position: absolute;
					top: 3px;
					left: -3px;
					background-color: #FFF;
				}
				&:after {
					transform: rotate(-133deg);
				}
				&:before {
					transform: rotate(133deg);
				}
			}
		}
		&__logo {
			width: 228px;
			height: 40px;
			display: flex;
			align-items: center;
			i {
				width: 50px;
				height: 40px;
				margin-right: 15px;
				svg {
					width: 100%;
				}
			}
			p {
				font-family: 'Futura-Light';
  			font-size: 14px;
  			font-weight: normal;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.21;
  			letter-spacing: normal;
  			text-align: left;
  			color: #ffffff;
				text-transform: uppercase;
				strong {
					font-family: 'Futura-Bold';
					font-weight: 600;
				}
			}
		}
		&__items {
			width: 514px;
			height: 50px;
			display: flex;
			align-items: center;
			ul {
				width: 100%;
				height: 60px;
				margin: 0;
				padding: 0;
    		white-space: nowrap;
			}
			li {
				width: 50px;
				height: 50px;
				display: inline-block;
				margin-right: 20px;
				margin-top: 6px;
				background-color: #FFF;
				border: solid 1px #e5e5e5;
				text-align: center;
				border-radius: 4px;
				position: relative;
				img {
					margin: 0 auto;
				}
			}
			&-product {
				width: 280px;
				display: inline-block;
				position: relative;
				.slick{
					&-disabled {
						display: none !important;
					}
					&-arrow {
						width: 22px;
						height: 26px;
						position: absolute;
						top: calc(50% - 13px);
						font-size: 0;
						background-color: transparent;
						border: 0;
						outline: 1px solid transparent;
						cursor: pointer;
						margin: 0;
						padding: 0;
						&:after {
							content: "";
							width: 15px;
							height: 15px;
							position: absolute;
							top: 5px;
							left: 0;
							border: 3px solid #2a7bbf;
							border-left: 0;
							border-bottom: 0;
						}
					}
					&-next {
						right: -11px;
						&:after {
							transform: rotate(45deg)
						}
					}
					&-prev {
						left: -29px;
						&:after {
							transform: rotate(-135deg)
						}
					}
				}
			}
			&-close {
				width: 16px;
  			height: 16px;
  			background-color: #e5e5e5;
				border-radius: 50%;
				position: absolute;
				top: -7px;
				right: -7px;
				cursor: pointer;
				font-family: Arial;
  			font-size: 12px;
  			font-weight: normal;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.34;
  			letter-spacing: normal;
  			text-align: center;
  			color: #2a7bbf;
			}
			&-text {
				width: 183px;
				float: left;
				margin-left: 26px;
				p {
					font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
					font-size: 14px;
 			 		font-weight: normal;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.43;
  				letter-spacing: normal;
  				text-align: left;
  				color: #ffffff;
					button {
						cursor: pointer;
						border: 0;
						background-color: transparent;
						color: #FFF;
						font-weight: 600;
						text-decoration: underline;
						display: inline-block;
						outline: 1px solid transparent;
						padding: 0;
						margin: 9;
					}
				}
			}
		}
		&__button {
			button {
				width: 180px;
				height: 44px;
				border-radius: 4px;
	  		background-color: #73b528;
				cursor: pointer;
				border: 0;
				text-transform: uppercase;
				font-family: 'Futura-Bold';
  			font-size: 14px;
  			font-weight: bold;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.43;
  			letter-spacing: .8px;
  			text-align: center;
  			color: #ffffff;
			}
		}
	}
}
